@import 'shared';

section[data-type="chapter"] {
  page-break-after: always;
}

nav[data-type="toc"] a[href]::after {
  content: " [Page " target-counter(attr(href), page) "]"
}

p {
	line-height: 150%;
}

.code-inline {
	background: #e0e0e0;
	padding: 3px 6px;
	margin: 0 2px;
}

.img-figure {
	img {
		width: 100%;
	}

	div {
		color: #666;
		text-align: center;
		font-style: italic;
		padding: 10px 0;
		border-top: 1px solid #999;
		margin: 10px auto 0;
		max-width: 75%;
	}
}

.man-entry {
	padding: 20px;
	background: #222;
	color: #eee;
	border-radius: 15px;

	span {
		display: block;
		font-size: 18px;
	}

	.man {
		float: right;
		padding: 10px;
		font-size: 20px;
		color: #aaa;
	}

	.cmd {
		padding: 10px;
		font-size: 20px;
	}

	.cmd-sub {
		font-size: 16px;
		color: #aaa;
		padding: 10px;
	}

	.desc {
		padding: 10px;
	}

	.flags {
		padding: 10px;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li {
			padding: 0;
			margin: 20px;
		}

		.code-inline {
			background: #888;
			color: #fff;
		}
	}
}
