
@import 'shared';

body {
    page: main;
    counter-reset: page 1;
}

@page { 
	size: A5;
}

@page main {
    @bottom {
        content: "Page " counter(page)
    }
}

section[data-type="chapter"], section[data-type="credit"] {
  page-break-after: always;
}

.pagebreak {
	page-break-before: always;
}

nav[data-type="toc"] a[href]::after {
  content: " [Page " target-counter(attr(href), page) "]"
}

* {
	text-align: justify;
	text-justify: inter-character;
}

p {
	line-height: 150%;
	font-size: 12px;
}

h1 {
	span {
		display: block;
	}
}

a {
	text-decoration: none;
}

.code-inline {
	background: #eee;
	padding: 3px 6px;
	margin: 0 0;
	font-family: Consolas, monospace;
	font-size: 10px;
	color: #333;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.img-figure, .pre-figure {
	img {
		width: 100%;
	}

	div {
		color: #666;
		text-align: center;
		font-style: italic;
		padding: 10px 0;
		border-top: 1px solid #999;
		margin: 10px auto 0;
		max-width: 75%;
		font-size: 12px;
	}

	pre {
		text-align: left;
		font-size: 10px;
		border: 1px solid #aaa;
		padding: 10px;
		border-radius: 10px;
		color: #111;
		font-family: Consolas, monospace;
		letter-spacing: 0.5px;
		font-size: 10px;
		font-weight: 600;
	}
}

.man-entry {
	padding: 20px;
	background: #222;
	color: #eee;
	border-radius: 15px;

	span.header {
		display: block;
		font-size: 18px;
		border-bottom: 1px solid #555;
		padding: 0 0 5px 0;
	}

	.man {
		float: right;
		padding: 10px;
		font-size: 20px;
		color: #aaa;
	}

	.cmd {
		padding: 10px 10px 0 10px;
		font-size: 20px;
	}

	.cmd-sub {
		font-size: 12px;
		color: #aaa;
		padding: 5px 10px 10px;
	}

	.desc {
		padding: 5px 10px 0 10px;
	}

	.flags {
		padding: 10px 10px 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li {
			padding: 0;
			margin: 15px;
			font-size: 12px;

			span {
				font-family: Consolas, monospace;
				font-weight: bold;
				color: #eee;
			}
		}

		.code-inline {
			background: #888;
			color: #fff;
		}
	}
}
